<div id='outlet' data-component='Containers' data-view='New'>
	<h1>Create new container</h1>
  <%= form_for @container do |f| %>
    <div>
      <p><%= f.label "Titre" %></p>
      <p><%= f.text_field :name %></p>
    </div>
    <div>
      <p><%= f.label :description %></p>
      <p><%= f.text_area :description, :id => "editor1", :html => { 'contenteditable' => 'true' } %></p>
    </div>
    <%= f.submit :save, class: "btn btn-primary" %>
	<% end %>
	<script>
    // Turn off automatic editor creation first.
    
    CKEDITOR.disableAutoInline = true;
    CKEDITOR.inline('editor1');
	</script>
</div>