<div id='outlet' data-component='Containers' data-view='Show'>
	<h1>Container : <%= @container.name %></h1>
	<div class="actions">
		<%= link_to(raw('<i class="fa fa-edit"></i> Editer'), edit_container_path(@container.id)) %>
		<%= link_to(raw('<i class="fa fa-remove"></i> Supprimer'), container_path(), :method => 'delete') %>
		<%= link_to 'voir', '/'+@container.url %>
	</div>
  	
  <div>
    <%= CGI.unescapeHTML(@container.description).html_safe %>
  </div>

  <div id="pages_list">
  	<h3>Pages :</h3>
  	<ul>
  		<% @pages.each do |page| %>
  			<% if page.parent.nil? %>
  				<li><%= page.name %></li>
  			<% end %>
  		<% end %>
  	</ul>
  </div>

  <div>
  	<%= render :partial => 'pages/new', :object => @page %>
  </div>
</div>