<!-- custom form to deal with escaped HTML characters -->
<%= form_for @page do |f| %>
	<div class="editable_elem">
		<h3><%= f.text_field :name %></h3>
	</div>
  <textarea name="page[content]" id="editor1" class="editable_elem"><%= CGI.unescapeHTML(@page.content).html_safe if @page.content %></textarea>
  <input name="commit" value="save" class="btn btn-primary" type="submit">
<% end %>

<%= form_for @page, url: pages_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
<% end %>