<div id='outlet' class="row" data-component='Pages' data-view='Show'>
	<div class="col-lg-12">
    <header>
      <h1><%= link_to(@page.container.name, container_path(@page.container.id)) %></h1>
    </header>
  	<div class="actions">
  		<%= link_to(raw('<i class="fa fa-edit"></i> Editer'), edit_container_path(@page.container.id)) %>
  		<%= link_to(raw('<i class="fa fa-remove"></i> Supprimer'), container_path(), :method => 'delete') %>
  		<%= link_to 'voir', '/'+@page.container.url %>
  	</div>

    <div class="col-lg-3">
      <nav id="main-nav">
        <ul>
          <% @pages.each do |page| %>
            <% if page.parent.nil? %>
              <a href='<%= "/pages/#{page.id}" %>'>
                <li><%= "#{page.name}" %></li>
              </a>
              <% if has_children(page) %>
                <ul>
                  <% children = get_children(page) %>
                  <% children.each do |c| %>
                    <a href='<%= "/pages/#{c.id.to_s}" %>'>
                      <li><%= "#{c.name}" %></li>
                    </a>
                  <% end %>
                </ul>
              <% end %>
            <% end %>
          <% end %>
        </ul>
        <%= render :partial => 'pages/new', :object => @new_page %>
      </nav>
    </div>
    <div class="col-lg-9">
      <div>
        <%= render :partial => 'pages/edit', :object => @page %>
      </div>
    </div>
  </div>
</div>

